@media only screen and (max-width: 850px) {
    /*
    Asetetaan elementit allekkain 100% leveydelle
    */
    header {
        display: block;
        float: none;
        height: auto;
        width: 100%;
        clear: both;
        position: relative;
        padding: 5px;
    }

    footer {
        padding: 3px 5px;
        position: relative;
        font-size: 0.9em;
    }


    .social-icon {
        font-size: 15px;
    }
}